.idea/
.vscode/

node_modules/
vendor/
dist/
build/

.env
.env.*
!.env.example

api/storage/*.key
api/storage/framework/cache/data/*
api/storage/framework/sessions/*
api/storage/framework/testing/*
api/storage/framework/views/*
api/bootstrap/cache/*.php
api/database/*.sqlite

npm-debug.log*
yarn-debug.log*
yarn-error.log*
